attrs==22.2.0
Babel==2.11.0
colorama==0.4.6
darkdetect==0.8.0
docxcompose==1.4.0
docxtpl==0.16.5
exceptiongroup==1.1.0
iniconfig==2.0.0
Jinja2==3.1.2
lxml==4.9.2
MarkupSafe==2.1.2
packaging==23.0
pluggy==1.0.0
pytest==7.2.1
python-docx==0.8.11
pytz==2022.7.1
six==1.16.0
tomli==2.0.1
